.align{
    float:right;
    
}
.alignLeft{
    float:left;
}
.biginfobox{
    height:200px;
    width:100%;
    background-color:yellow;
    position:relative;
}
.infobox{
    height:200px;
    width:600px;
    background-color:green;
    border:1px solid black;
    float:right; 
    background-position-y:25%;   
}
.infoboxNC{
    height:200px;
    width:40%;
    float:left;   
}
.infotext{
    font-size:2em;
    word-wrap:break-word;
    text-align: center;
}
.infotext2{
    font-size:2em;
    word-wrap:break-word;
    width:40%;
}
.inline{
    align:inline;
}
.logo{
    height:5%;
    width:5%;
    display: inline-block;
    margin-left: auto;
    margin-right:  auto;
    text-align: center;
    
}
.DDD{
    float:right;
    width:40%;
}
form{
    margin: 0 auto;
    width:300px; 
}
.donkey{
    width:300px;
    height:100px;
}
.lemon{
    font-size: 200%;
    word-wrap:break-word;
}
.pictures{
    width:33%;
    height:150px;
    padding:5px;
    margin-top:10px;
}
.experience-left{
    text-align: right;
    font-size:125%;
    margin:25px;

}
.primary-color{
    text-decoration: none;
    color:orange;
}
.secondary-color{
    color:grey;
}
.border-bottom{
    border-bottom:2px solid black;
    padding:5px;
}
.border{
    border:2px solid black;
    width:17%;
    font-size:300%;
    text-align: center;
}
.border-top{
    border-top:2px solid black;
    padding:5px;
}
.center{
    text-align:center;
}
.padding{
    padding:5px;
}
.button{
    border: 1px solid black;
    color:white;
    text-transform:uppercase;
    background-color:red;
    height:25px;
    width:7%;
    margin:auto;
    text-align: center;
    margin-bottom: 5px;
    margin-top:5px;
}