.align{
    float:right;
    
}
.alignLeft{
    float:left;
}
.biginfobox{
    height:200px;
    width:100%;
    background-color:yellow;
    position:relative;
}
.infobox{
    height:200px;
    width:600px;
    background-color:green;
    border:1px solid black;
    float:right; 
    background-position-y:25%; 
    
    
}
.infoboxNC{
    height:200px;
    width:40%;
    float:left;   
}
.infotext{
    font-size:2em;
    word-wrap:break-word;
    text-align: center;
}
.infotext2{
    font-size:2em;
    word-wrap:break-word;
    width:40%;
}
.inline{
    align:inline;
}
.logo{
    height:5%;
    width:5%;
}
.DDD{
    float:right;
    width:40%;
}
form{
    margin: 0 auto;
    width:300px; 
}
.donkey{
    width:300px;
    height:100px;
}
.lemon{
    font-size: 200%;
    word-wrap:break-word;
}
.pictures{
    width:33%;
    height:150px;
}